.head-banner {
    background-image: url("./images/banner/banner2.png");
    background-repeat: no-repeat;
    margin-left: 250px;
    height: 100vh;
}



.title {
    font-size: 80px;
}

.banner-details {
    margin-top: 150px;
    margin-left: 1000px;

}



.contact-btn {
    margin-top: 30px;
    margin-left: 335px;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: rgb(5, 90, 36);
    color: rgb(235, 231, 239);


}



/*Second Section*/

.second-section {
    /* background-image: url(./images/gradient2.png);
    background-repeat: no-repeat;
    background-position: 0cqh; */
    display: flex;
    margin-left: 250px;
    justify-content: space-around;
}

.person {
    margin-left: 100px;
}

.second-title {
    font-size: 60px;
}

.right-side {
    margin-right: 200px;
}






.third-section {
    background-image: url("./images/Office-Worker-Girl\ .png");
    background-repeat: no-repeat;
    margin-left: 250px;
    height: 100vh;
    display: flex;
    margin-top: 180px;
    margin-left: 250px;
    justify-content: space-around;
}

.third-title {
    margin-top: 150px;
    margin-right: 1000px;
}

.my-dreams {
    font-size: 70px;
}

.fourth-title {
    text-align: center;
    margin-top: 100px;
}

.all-plan {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.plans {
    text-align: center;
}

.plan-paragraph {
    font-size: 30px;
}

.fifth-section {
    background-image: url(./images/watch.png);
    background-repeat: no-repeat;
    margin-left: 500px;
    margin-top: 100px;
    /* padding-right: 200px; */
}

.gradient {
    /* margin-left: 250px; */
    /* margin-left: px; */
    margin-top: 100px;

}