.head-banner {
    background-image: url("./images/banner/banner2.png");
    background-repeat: no-repeat;
    margin-left: 250px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.title {
    font-size: 80px;
    margin-top: 200px;
}

.banner-details {
    margin-bottom: 400px;


}



.contact-btn {
    margin-top: 30px;
    margin-left: 335px;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: rgb(11, 91, 25);
    color: rgb(235, 231, 239);


}



/*Second Section*/

.second-section {
    display: flex;
    margin-left: 250px;
    justify-content: space-around;
}

.person {
    margin-left: 100px;
}

.second-title {
    font-size: 60px;
}

.right-side {
    margin-right: 200px;
}


/* Third Section */


.third-section {
    background-image: url("./images/Office-Worker-Girl\ .png");
    background-repeat: no-repeat;
    margin-left: 250px;
    height: 100vh;
    display: flex;
    margin-top: 100px;
    margin-left: 250px;
    justify-content: space-around;
}

.third-title {
    margin-top: 150px;
    margin-right: 1000px;
}

.my-dreams {
    font-size: 70px;
}


/* Fourth Section */


.fourth-title {
    text-align: center;
    margin-top: 100px;
}

.all-plan {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.plans {
    text-align: center;
}

.plan-paragraph {
    font-size: 30px;
}

/* Fifth section */

.fifth-section {
    background-image: url(./images/watch.png);
    background-repeat: no-repeat;
    margin-left: 500px;
    margin-top: 100px;
}

.gradient {
    margin-top: 100px;

}

/* Sixth Section */

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 50vh;
    margin-top: 100px;
    color: aliceblue;
}

.footer-title {
    font-size: 40px;
}

.footer--left-description {
    font-size: 20px;
}

.left-side-email {
    font-size: 20px;
}

.left-footer-title {
    margin-bottom: 40px;
    font-size: 70px;
}

.right-side-footer {
    margin-bottom: 30px;
}

.right-footer-title {
    font-size: 40px;
}

#email {
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(29, 27, 27);
}

.footer-btn {
    padding: 20px 40px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: coral;
    background-color: aliceblue;
}